.parent{
  width: 300px;
  height: 300px;
  border: 4px solid black;
  background-color: #fff;
}
.box{
  width:50px;
  height:50px;
  color: white;
  font-size: 20px;
  float: left;
  text-align: center;
  line-height: 50px;;
}
.red-box{
  background-color: red;
}
.blue-box{
  background-color: blue;
}
.green-box{
  background-color: green;
}