@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 432px;
    background: url("./images/banner.png") no-repeat center center;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 125px;

    text-align: center;
    color: white;
}

.banner__title{
    font-family: "Risque", serif;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 25px;
}

.banner__txt{
    font-size: 24px;
    margin-bottom: 32px;
}

.banner__btn{
    width: 165px;
    height: 57px;
    background-color: transparent;
    border: 1px solid white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.course{
    padding-top: 44px;
    text-align: center;
}

.course__txt{
    font-size:25px;
}