@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body,
.wrap{
    width: 100%;
    height: 100%;
}

.wrap{
    background: url('./images/night.png') center / cover;
    text-align: center;
    color: white;
}

h1{
    font-family: "Pacifico", cursive;
    font-size: 90px;
    line-height: 158px;
    padding-top: 380px;
    margin-bottom: 40px;
}

h2{
    font-family: "Love Ya Like A Sister", cursive;
    font-size:40px;
    line-height: 50px;
}