.parent{
    width: 300px;
    height: 300px;
    border: 4px solid black;
    background-color: #fff;
}
.child{
    font-size: 20px;  
    text-align: center;
    color: white;
    float: left;
    width: 50%;
    height: 150px;
    line-height: 150px;
}
.red-box{
    background-color: red;
}
.blue-box{
    background-color: blue;
}
.green-box{
    background-color: green;
}
.grey-box{
    background-color: grey;
}