@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ramabhadra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
}

.header__brand {
    font-family: "Courgette", cursive;
    font-size: 25px;
    line-height: 31px;
}

/* banner */
.banner {
    padding-top: 216px;
    padding-bottom: 216px;
    background-color: #376D37;
    text-align: center;
    color:white;
}

.banner__title {
    font-family: "Ramabhadra", sans-serif;
    font-size: 50px;
    line-height: 95px;
}

.banner__hr {
    width: 257px;
    height: 5px;
    background-color: #fff;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 48px;
}

.banner__btn {
    font-family: "Ramabhadra", sans-serif;
    font-size: 20px;
    line-height: 38px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 8px 29px 7px 30px;
    cursor: pointer;
}

/* platform */
.section {
    padding-top: 100px;
    text-align: center;
}

.section__title{
    font-family: "Ramabhadra", sans-serif;
    font-size: 35px;
    line-height: 66px;
}

.section__txt{
    font-family: Arial;
    font-size: 20px;
    line-height: 23px;
    margin-top: 22px;
}

.section__works{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
}

.section__works li {
    width: 590px;
    float: left;
    margin-right: 20px;
}
.section__works li:nth-child(1),
.section__works li:nth-child(2){
    margin-bottom: 20px;
}
.section__works li:nth-child(2n){
    margin-right: 0;
}

.section__works img {
    width: 100%;
    display:block;
}

.section__btn{
    font-family: "Ramabhadra", sans-serif;
    font-size: 20px;
    color: #000;
    border: 2px solid #000;
    background-color: transparent;
    padding: 8px 29px 7px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

@media screen and (max-width:1230px) {
    .section__works {
        width: 800px;
    }
    .section__works li {
        width: 390px;
    }
}

@media screen and (max-width:830px) {
    .banner {
        padding-top: 155px;
        padding-bottom: 158px;
    }
    .banner__title {
        font-size: 32px;
        line-height: 61px;
    }
    .banner__hr {
        width: 177.76px;
    }
    .banner__btn {
        font-size: 18px;
        line-height: 34px;
    }

    .section {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section__works{
        width: 100%;
    }
    .section__works li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section__works li:last-child {
        margin-bottom: 0;
    }
    .section__btn{
        font-size: 18px;
        line-height: 34px;
    }
}