* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 225px;
    height:225px;
    border: 2px solid black;
    position: relative;
}

.box div {
    background-color: #FFA500;
    position:absolute;
    transition: width 1s, height 1s;
}

.box:hover .north, 
.box:hover .south{
    width: 100%;
}

.box:hover .east,
.box:hover .west{
    height: 100%;
}

.north{
    width: 0%;
    height: 50px;
    top:0;
    left:0;
}

.east{
    width: 50px;
    height: 0%;
    top:0;
    right:0;
}

.south{
    width: 0%;
    height: 50px;
    bottom:0;
    right:0;
}

.west{
    width: 50px;
    height: 0%;
    bottom:0;
    left:0;
}
