@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

.card{
    width: 1204px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card__item{
    padding: 19px 14px;
    grid-column: span 3;
    border: 1px solid #CCC;
}

.card__item img{
    display: block;
}

.card__item strong{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
}

.card__item p{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    margin: 0;
}