@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body{
    font-family: "Roboto", sans-serif;
}

.google{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* header */
header{
    padding: 14px 18px 0 18px;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
}

.nav__list li{
    display: flex;
    margin-right: 16px;
}

.nav_list li:last-child{
    margin-right: 0;
}

.nav__list .nav__icon a {
    font-size: 0;
}

.nav__list a{
    font-size: 13px;
}

.nav__list .nav__badge a{
    width: 32px;
    height: 32px;
    background-color: #F91D1D;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */
main{
    padding: 0 18px;
    flex-grow: 1;
    min-height: 700px;
}

.main-logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 304px;
}

.main-frm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
}

.main-frm__input{
    width: 100%;
    max-width: 584px;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    position: relative;
    padding-left: 39px;
    padding-right: 68px;
}

.main-frm__input input{
    width: 100%;
    height: 46px;
    border: none;
    outline: none;
}

.main-frm__input span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #9AA0A6;
}

.main-frm__input span.search{
    left: 15px;
}

.main-frm__input span.keyboard{
    right: 44px;
}

.main-frm__input span.mic{
    right: 10px;
}

.main-frm__input span.mic.on{
    color: #3E9CF3;
}

.main-frm__btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-frm__btn button{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #3C4043;
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
    height: 36px;
    padding: 10px 20px;
    margin-right: 12px;
}

.main-frm__btn button:last-child{
    margin-right: 0;
}

.main-language{
    font-size: 13px;
    color: #202124;
    text-align: center;
    margin-top: 20px;
}

.main-language a{
    color: #1A0DAB;
}

footer{
    display:flex;
    flex-direction: column;
    background-color: #F2F2F2;
    font-size: 15px;
    color: #70757A;
}

.footer-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DADCE0;
    padding-left: 30px;
    padding-right: 35px;
}

.footer-line:nth-child(1){
    min-height: 51px;
}

.footer-line:nth-child(2){
    min-height: 48px;
}

.footer-line a{
    margin-right: 30px;
}

.footer-line a:last-child{
    margin-right: 0;
}

@media screen and (max-width:570px) {
    .footer-line{
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-line__left,
    .footer-line__right{
        padding: 10px 0;
    }
}